#favouriteWholecontainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(241, 236, 198);
  min-height: 100vh;
}

#favouriteHint {
  color: #777350;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  margin: 24px;
  margin-bottom: 5px;
}
